@font-face {
  font-family: 'wechat-plat';  /* project id 304306 */
  src: url('//at.alicdn.com/t/font_304306_g0bgs0hcq5zbbj4i.eot');
  src: url('//at.alicdn.com/t/font_304306_g0bgs0hcq5zbbj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_304306_g0bgs0hcq5zbbj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_304306_g0bgs0hcq5zbbj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_304306_g0bgs0hcq5zbbj4i.svg#wechat-plat') format('svg');
}
.icon-fonts {
	font-family: 'wechat-plat' !important;
	font-size: 16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
